@import '../styles/vars';
@import '../styles/mixins';

.identityLoading {
  padding: $space-9;
}

.identity {
  color: $text-secondary;
  margin: 0;
}

.layout {
  display: flex;
  align-items: stretch;
  min-width: 0;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: $space-7;
  padding: $space-9;
}

.scopeSelect {
  width: 190px;
}
